##### Use SQLAlchemy to model table schemas and create a sqlite db for 'measurements' and 'stations'

-  Use Pandas to read your cleaned measurement and stations CSV
-  Use the 'engine' and connection string to create a db called 'hawaii.sqlite'.
-  Use 'declarative_base' and create ORM classes for each table.
    -  You will need a class for 'Measurement' and 'station'.
    -  Make sure to define primary keys.
-  Once ORM classes are defined, create the tables in the database using 'create_all'.

In [11]:
# Import dependencies
import pandas as pd

import sqlalchemy

# Import SQL Alchemy
from sqlalchemy import create_engine, inspect, func

# Import and establish Base for which classes will be constructed
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Date, Float, Integer, String

In [12]:
# Create the 'measurement' and 'station' class
class Measurement(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)
    
class Station(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [13]:
# Create a connection to SQLite database

engine = create_engine("sqlite:///hawaii.sqlite")

In [14]:
# Creates the 'hawaii_measurements' and 'hawaii_stations' table in database.
Base.metadata.create_all(engine)

In [15]:
# Read in cleaned measurements and stations CSVs
meas_filename = 'Clean/clean_hawaii_measurements.csv'
stat_filename = 'Clean/clean_hawaii_stations.csv'

# Reading csv into pandas
df1 = pd.read_csv(meas_filename)
df2 = pd.read_csv(stat_filename)

# Insert into sqlite
df1.to_sql(con=engine, index_label='id', name=Measurement.__tablename__, if_exists='replace')
df2.to_sql(con=engine, index_label='id', name=Station.__tablename__, if_exists='replace')

In [16]:
inspector = inspect(engine)
inspector.get_table_names()

['measurements', 'stations']

In [17]:
col1 = inspector.get_columns('measurements')
for c in col1:
    print(c['name'], c["type"])

id BIGINT
station TEXT
date TEXT
prcp FLOAT
tobs BIGINT

In [18]:
engine.execute('select * from measurements LIMIT 5').fetchall()

[(0, 'USC00519397', '1/1/2010', 0.08, 65),
 (1, 'USC00519397', '1/2/2010', 0.0, 63),
 (2, 'USC00519397', '1/3/2010', 0.0, 74),
 (3, 'USC00519397', '1/4/2010', 0.0, 76),
 (4, 'USC00519397', '1/7/2010', 0.06, 70)]

In [19]:
col2 = inspector.get_columns('stations')
for c in col2:
    print(c['name'], c["type"])

id BIGINT
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [20]:
engine.execute('select * from stations LIMIT 5').fetchall()

[(0, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (1, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (2, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (3, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (4, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]

In [24]:
PRAGMA table_info([measurements]);

SyntaxError: invalid syntax (<ipython-input-24-9317e49c2b24>, line 1)